@page "/"
@using AdventOfCSharp.BlazorClient.Shared.Puzzle

<h3><span style="color:white">Hi, I'm John Perrin (PezzA) and welcome to my Advent of Code site!</span></h3>

<p>Use the puzzle picker below to see the current status of puzzle solutions in this repo and run the final code.  Don't forget to checkout the visualisations as well!</p>

<MudExpansionPanels MultiExpansion="false" Class="mt-2">
    @foreach (var y in Years)
    {
        var totalSolved = Puzzles.Where(p => p.Year == y).Sum(p => p.Stars);
        var totalVizzed = Puzzles.Where(p => p.Year == y && (p.HasUnityVisualisation || p.HasHTML5Visualisation)).Count();
        <MudExpansionPanel DisableGutters="true">
            <TitleContent>
                <div class="d-flex">
                    <MudText Class="mt-1">@y.ToString()</MudText>
                    <MudText Class="d-flex ml-auto">Stars: @totalSolved/50<MudIcon Icon="@Icons.Material.Filled.Star" Color="MudBlazor.Color.Warning" /></MudText>
                    <MudText Class="d-flex ml-auto">Visualisations: @totalVizzed/25<MudIcon Icon="@Icons.Material.Filled.Star" Color="MudBlazor.Color.Secondary" /></MudText>
                </div>
                <MudProgressLinear Color="MudBlazor.Color.Warning"  Size="Size.Large" Value="@(totalSolved * 2)" />
                <MudProgressLinear Color="MudBlazor.Color.Success"  Size="Size.Large" Value="@(totalVizzed * 4)" />
            </TitleContent>
            <ChildContent>
                <YearTable Year="y" PuzzleData="@Puzzles.Where(p => p.Year == y)" />
            </ChildContent>
        </MudExpansionPanel>
    }
</MudExpansionPanels>

@code {
    private IEnumerable<Puzzles.PuzzleDataAttribute> Puzzles = new List<Puzzles.PuzzleDataAttribute>();
    private IEnumerable<int> Years { get; set; } = new List<int>();

    protected override void OnInitialized()
    {
        Puzzles = PuzzleManager.GetAllBasicPuzzles()
          .Where(p => p.Year != 0 && p.Day != 0)
          .OrderBy(p => p.Year)
          .ThenBy(p => p.Day);

        Years = Puzzles.Select(p => p.Year).Distinct().Order();
    }
}

